<nav class="navbar navbar-default navbar-fixed-top" id="skrollSpy">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"></a>
      </div>
      <ul class="nav navbar-nav navbar-right">
          <li ><a href="#about">about</a></li>
          <li><a href="#skills">skills</a></li>
          <li><a href="#portfolio">portfolio</a></li> 
          <li><a href="#additional">additional</a></li> 
          <li><a href="#contacts">contacts</a></li> 
        </ul>
    </div>
  </nav>  